<h1>New Check-In</h1>

<%= form_with url: "/new_checkin", method: :post do |form| %>
  <%= form.label :query, "Select a Beer:" %>
  <%= form.collection_select :beer_id, Beer.order(:name), :id, :name %>
<p><%= form.label :rating %>
<%= form.select :rating, options_for_select(0..5)%></p>
<p><%= form.label :comment %>
<%= form.text_area :comment %></p>

<p><%= form.submit "Add Check In" %></p>
<% end %>